<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.AndroidProject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/band"
        android:label="@string/app_name"
        android:roundIcon="@drawable/band"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.AndroidProject.user.ProfileActivity"></activity>
        <activity android:name="com.example.AndroidProject.user.AccountActivity" />
        <activity android:name="com.example.AndroidProject.list.MemberList" />
        <activity
            android:name="com.example.AndroidProject.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.AndroidProject.user.LoginActivity" />
        <activity android:name="com.example.AndroidProject.user.JoinActivity" />
        <activity
            android:name="com.example.AndroidProject.list.MemberList"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>